.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 4px;
  transition: transform 0.2s;
  width: 142px;
  height: 190px;
  cursor: pointer;
}

.selected {
  background-color: #f0f0f0;
}
