.hands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.hands-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.swap {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.swap:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
