.hands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.hands-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  width: 100%;
}
